@using Fatbracket.Model;
@model Fatbracket.Model.tbluser
@{ ViewBag.Title = "Home"; }

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">


        <div class="col-md-8 col-lg-8 mb-4">


            <div class="card mb-4">
                @if (ViewBag.message != "")
                {
    <div class="alert alert-success alert-dismissible" role="alert">
        @ViewBag.message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>}
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Personal Info   <small id="passwordstatus"></small> </h5>

                </div>
                @using (Html.BeginForm("Home", "Dashboard", FormMethod.Post, new
                {
                    enctype = "multipart/form-data"
                }))
                {
    @Html.AntiForgeryToken()
                    <form>

                        <input type="text" value="@Model.Playerid" hidden name="Playerid">
                        <div class="card-body">





                            <div class="mb-2">
                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <label class="form-label" for="basic-default-fullname">
                                            First Name

                                        </label>
                                        <div class="input-group input-group-merge">
                                            <input type="text" id="Firstname" name="Firstname" value="@Model.Firstname" class="form-control" required>

                                        </div>
                                    </div>

                                    <div class="col-md-6 mb-2">
                                        <label class="form-label" for="basic-default-fullname">
                                            Last Name

                                        </label>
                                        <div class="input-group input-group-merge">
                                            <input type="text" id="Lastname" class="form-control" name="Lastname" value="@Model.Lastname" required>

                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label class="form-label" for="basic-default-fullname">
                                            Email

                                        </label>
                                        <div class="input-group input-group-merge">
                                            <input type="text" id="Email" class="form-control" name="Email" value="@Model.Email" readonly required>

                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label class="form-label" for="basic-default-fullname">
                                            Password

                                        </label>
                                        <div class="input-group input-group-merge">
                                            <input type="password" id="Password" class="form-control" name="Password" value="@Model.Password" required>

                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label class="form-label" for="basic-default-fullname">
                                            Phone

                                        </label>
                                        <div class="input-group input-group-merge">
                                            <input type="text" id="Phone" class="form-control" name="Phone" value="@Model.Phone" required>

                                        </div>
                                    </div>

                                    <div class="col-md-6 mb-2">
                                        <label class="form-label" for="basic-default-fullname">
                                            Handle

                                        </label>
                                        <div class="input-group input-group-merge">
                                            <input type="text" id="Handle" class="form-control" name="Handle" value="@Model.Handle" required>

                                        </div>
                                    </div>

                                    <div class="col-md-2">

                                        <a href="@Model.Imagepath" target ="_blank"> 
                                            <img src="@Model.Imagepath" class="d-block rounded" height="100" width="100" id="user_img" />
                                        </a>
                                        
                                        @*<img id="user_img" alt="" src="@Model.Imagepath">*@

                                    </div>
                                    <div class="col-md-4">
                                        <label for="formFile" class="form-label">Image</label>
                                        <input onchange="show(this)" class="form-control" type="file" id="ImagePath" name="ImagePath">
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        @if (Model.Textoptin == 1)
                                        {
                        <label class="form-label" for="basic-default-fullname">
                        </label>
                                            <div class="form-check mt-3">
                                                <input class="form-check-input" type="checkbox" value="true" id="Textoptin" name="Textoptin" checked>
                                                <label class="form-check-label" for="Textoptin">
                                                    Text Option
                                                </label>
                                            </div> }
                                        else
                                        {
                        <label class="form-label" for="basic-default-fullname">
                        </label>
                                            <div class="form-check mt-3">
                                                <input class="form-check-input" type="checkbox" value="" id="Textoptin" name="Textoptin">
                                                <label class="form-check-label" for="Textoptin">
                                                    Text Option
                                                </label>
                                            </div>}

                                    </div>
                                    <div class="col-md-12">

                                        <button id="btnupdatepersoninfo" type="submit" class="btn btn-primary mb-2 mt-4" style="float:right">Update Info</button>
                                    </div>
                                </div>


                            </div>









                        </div>

                    </form>}
            </div>
        </div>
    </div>
</div>

<script>

    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                /*alert(e.target.result);*/

                $('#user_img').attr('src', e.target.result);

            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }

</script>